* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#container {
  width: 100%;
  display: flex;
  border: 1px gray solid;
  border-radius: 10px;
  flex-direction: row-reverse;
  height: 90vh;
}

/* xs */
@media (min-width: 350px) {
  #container {
    width: 350px;
  }
}

/* md */
@media (min-width: 768px) {
  #container {
    width: 768px;
  }
}

/* xl */
@media (min-width: 1280px) {
  #container {
    width: 1280px;
  }
}

/* ------------------------------- */
/* Main Style */
/* ------------------------------- */

#main-container {
  width: 70%;
  padding: 10px;
  background-color: #ebebeb;
  overflow-y: auto;
}

#images-result {
  width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.image-card {
  padding: 10px;
  border: 1px gray solid;
  border-radius: 5px;
}

.image-title {
}

.image-img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

/* ------------------------------- */
/* Sidebar Style */
/* ------------------------------- */
#aside-container {
  width: 30%;
  background-color: #1f1f1f;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px 0px 0px 10px;
  color: white;
}

#aside-container header {
  font-size: large;
  font-weight: bold;
}

#aside-container > div {
  margin: 20px 5px;
}

#search-input {
  display: block;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

#search-button {
  display: block;
  width: 100%;
  padding: 5px;
}
