* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../assets/background.jpg");
  background-size: 100% 100%; */
}

header {
  margin: 20px 0px;
}

.container {
  width: 100%;
  /* border: 1px white solid; */
}

/* search bar */

#search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  gap: 10px;
}

#search-input {
  padding: 10px 4px;
}

#search-button {
  padding: 10px 4px;
  background-color: black;
  color: white;
  font-weight: 700;
}

#search-button:hover {
  cursor: pointer;
  scale: 1.05;
}

/* image viewer */
#image-container {
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-more-button {
  display: none;
  padding: 10px 4px;
  background-color: black;
  color: white;
  font-weight: 700;
  margin: 5px 0px;
}

#image-list {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-card {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  padding: 5px 4px;
  background-color: white;
}

.image-card-div {
  position: relative;
  text-align: center;
  color: white;
}

.image-card-div-details {
    color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-card-div:hover {
  .image-card-div-details{
    color: black;
  }
  /* .image-img{
    : white;
  } */
}

.image-card:hover {
  scale: 1.05;
}

.image-card-user-div {
  display: flex;
  margin: 5px;
  gap: 3px;
}

.image-card-user-div > img {
  width: 20px;
  border-radius: 50%;
}

.image-card-user-profile {
  display: flex;
}

.image-img {
  width: 300px;
  height: 250px;
  border: 2px black solid;
}

/* media query's */

/* xs */
@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  #search-container {
    flex-direction: row;
  }
  #search-input {
    margin-right: 20px;
    width: 60%;
  }
}
